@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
        .chartall{
            position: absolute;
            width: 1250px;
            height: auto;
            margin-left: 60px;
            margin-top: 1000px;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            background-color: #ffffff;
            display: flex;
            padding: 30px; 
        }
        .chart1{
            position: absolute;
            width: 1250px;
            height: auto;
            margin-left: 60px;
            margin-top: 1000px;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            background-color: #ffffff;
            display: flex;
            padding: 30px; 
        }
        .chart2{
            position: absolute;
            width: 1250px;
            height: auto;
            margin-left: 60px;
            margin-top: 1000px;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            background-color: #ffffff;
            display: flex;
            padding: 30px; 
        }